//importen von partialen
@import "config";
@import "menu";
*{
  box-sizing: border-box;
}

body{
  @include background;
  background: $primary-color;
  color:set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1, h2, h3{
  margin:0;
  font-weight: 400;

  //Ist dann das gleiche wie h1.lg-heading und h2.lg-heading usw...
  &.lg-heading{
    //rem = html fontsize multiplier (16px)
    font-size: 6rem;
  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //diese funktion gibts nur in sass 1.parameter = farbe 2.wie stark man es schwächen möchte
    background: rgba(lighten($primary-color, 2), 0.5);  //rgba ist eine funktion, damit man durchschauen kann
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header{
  position: fixed;  //Damit das Menufeld immer oben am Rand ist
  z-index: 2; //je näher die Zahl bei 100 ist, desto näher ist es bei einem selbst
  width: 100%;
}

.text-secondary {
  color:$secondary-color;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); //voller Rahmen ohne footer

  //This is effekting only the icon within the maintag
  .icons {
    maring-top: 1rem;

    a {
      padding: 0.4rem;
      &:hover{
        color:$secondary-color;
        @include easeOut();
      }
    }
  }
  //Da home eine id bekommen hat
  &#home{
    overflow: hidden; //wir wollen nie ne scrollbar
    h1{
      margin-top:20vh;//steht für viewpoint height --> wenn man height als 100 slices nimmt sind 20vh einfach 20 stück davon
    }
  }
}

//Aboutpage

.about-info{
  display: grid;
  grid-gap: 30px;
  //Das ist im Grund einfach die ausrichtung, die es auch auf der Seite haben soll --> bio bio steht dafür, dass bio über 2 Längen gehen soll
  grid-template-areas:
  "bioimage bio bio"
  "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image{
    grid-area: bioimage;  //Was auch immer man eben oben im grid-template-areas angegeben hat
    margin: auto;
    border-radius: 50%; //So dass es rund ist
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1{
    grid-area: job1;
  }

  .job-2{
    grid-area: job2;
  }

  .job-3{
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

//Work Projects
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img{
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

//Button styles
.btn {  //obwohl wir keine btn class haben wollen wir diese dann einfach extenden
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover{
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}
//Nun extenden wir .btn für btn-dark und btn-light

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light{
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}


#main-footer{
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}


@import "mobile";
